<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<title>SHS DLSU Library | Manage Users</title>
<!--/*/ <th:block th:include="fragments/admin/template :: head"></th:block> /*/-->
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!--/*/ <th:block th:include="fragments/admin/template :: header"></th:block> /*/-->
    <!-- Left side column. contains the logo and sidebar -->
    <!--/*/ <th:block th:include="fragments/admin/template :: sidebar"></th:block> /*/-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Users
                <small>List of Users</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->

            <!-- /.row -->
            <!-- Main row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">DLSU Library : Users</h3>

                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tr>
                                    <th>ID Number</th>
                                    <th>First Name</th>
                                    <th>Middle Name</th>
                                    <th>Last Name</th>
                                    <th>Role</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>

                                <tr th:each="user : ${userList}">
                                    <td th:text="${user.idNumber}" th:id = "${user.id}+'idNumber'"></td>
                                    <td th:text="${user.firstName}"></td>
                                    <td th:text="${user.middleName}"></td>
                                    <td th:text="${user.lastName}"></td>
                                    <td th:text="${user.role == T(library.domain.Role).ROLE_STUDENT ? 'Student': user.role == T(library.domain.Role).ROLE_FACULTY ? 'Faculty' : user.role == T(library.domain.Role).ROLE_STAFF ? 'Staff' : user.role == T(library.domain.Role).ROLE_MANAGER ? 'Manager' : 'Admin'}"></td>
                                    <td th:text="${user.isLocked()} ? 'Locked' : 'Active'"></td>
                                    <td>
                                        <div class = "btn-group">
                                            <button type="button" class="btn btn-default editUser" th:id="${user.id}" data-toggle="modal" data-target="#modal-default">
                                                <i class="fa fa-pencil">Edit Role</i>
                                            </button>
                                            <button type="button" class="btn btn-default deleteUser" data-toggle="modal" data-target="#modal-delete" th:id="${user.id}">
                                                <i class="fa fa-trash">Delete User</i>
                                            </button>
                                            <button type="button" class="btn btn-default unlockUser" th:if="${user.isLocked()}" data-toggle="modal" data-target="#modal-unlock" th:id="${user.id}">
                                                <i class = "fa fa-unlock-alt">Unlock</i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                    <form action="new/">
                        <input type="submit" class="btn btn-info" value="Add User"/>
                    </form>
                </div>

                <!-- Modal for the edit buttons -->
                <div class="modal fade" id="modal-default">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Edit Role</h4>
                            </div>
                            <div class="modal-body">
                                <div class="box box-primary">

                                    <!-- /.box-header -->
                                    <!-- form start -->
                                    <form role="form" th:object="${newUser}" th:action="@{~/manage/user/save}" method="post">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <select class="form-control" name="role" id="newRole">
                                                    <option th:each="role : ${T(library.domain.Role).values()}"
                                                            th:value="${role}"
                                                            th:text="${role == T(library.domain.Role).ROLE_STUDENT ? 'Student': role == T(library.domain.Role).ROLE_FACULTY ? 'Faculty' : role == T(library.domain.Role).ROLE_STAFF ? 'Staff' : role == T(library.domain.Role).ROLE_MANAGER ? 'Manager' : 'Admin'}">
                                                    </option>
                                                </select>
                                                <input type="hidden"  name="idNumber" id="id_number"/>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-success">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- .modal for delete -->
                <div class="modal fade" id="modal-delete">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Delete User</h4>
                            </div>
                            <div class="modal-body">
                                <div class="box box-primary">

                                    <!-- /.box-header -->
                                    <!-- form start -->
                                    <form role="form" th:object="${delUser}" th:action="@{~/manage/user/delete}" method="post">
                                        <h5>Are you sure you want to delete this user?</h5>
                                        <div class="box-body">
                                            <div class="form-group">
                                                <input type="hidden"  name="idNumber" id="useridNumber"/>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-success">Delete</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- .modal for unlock -->
                <div class="modal fade" id="modal-unlock">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Unlock User</h4>
                            </div>
                            <div class="modal-body">
                                <div class="box box-primary">

                                    <!-- /.box-header -->
                                    <!-- form start -->
                                    <form role="form" th:object="${delUser}" th:action="@{~/manage/user/unlock}" method="post">
                                        <h5>Are you sure you want to unlock this user?</h5>
                                        <div class="box-body">
                                            <div class="form-group">
                                                <input type="hidden"  name="idNumber" id="useridNumberUnlock"/>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-success">Unlock</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            </div>
            <!-- /.row (main row) -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!--/*/ <th:block th:include="fragments/admin/template :: footer"></th:block> /*/-->


</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<!--/*/ <th:block th:include="fragments/admin/template :: script"></th:block> /*/-->
<script>
    $(document).ready(function(){
        $(".editUser").click(function(){
            var id = this.id;
            console.log(id)
            var idNumber = $("#"+id+"idNumber").text();
            $("#id_number").val(idNumber)
            console.log($("#" + id + "idNumber").text())
        });
        $(".deleteUser").click(function(){
            var id = this.id
            var idNumber = $("#"+id+"idNumber").text();
            $("#useridNumber").val(idNumber)
            console.log($("#" + id + "idNumber").text())
        });
        $(".unlockUser").click(function(){
            var id = this.id
            var idNumber = $("#"+id+"idNumber").text();
            $("#useridNumberUnlock").val(idNumber)
            console.log($("#" + id + "idNumber").text())
        });
    });
</script>
</body>
</html>
