<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<title>SHS DLSU Library | Manage Materials</title>
<!--/*/ <th:block th:include="fragments/admin/template :: head"></th:block> /*/-->
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!--/*/ <th:block th:include="fragments/admin/template :: header"></th:block> /*/-->
    <!-- Left side column. contains the logo and sidebar -->
    <!--/*/ <th:block th:include="fragments/admin/template :: sidebar"></th:block> /*/-->

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!--<section class="content-header">-->
            <!--<h1>-->
                <!--All Materials-->
                <!--<small>List of Books, Magazines, and Thesis</small>-->
            <!--</h1>-->
            <!--<ol class="breadcrumb">-->
                <!--<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>-->
                <!--<li class="active">Magazines</li>-->
            <!--</ol>-->
        <!--</section>-->

        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->

            <!-- /.row -->
            <!-- Main row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Manage Materials</h3>
                            <!--<div class="box-tools">-->
                                <!--<div class="input-group input-group-sm" style="width: 300px;">-->
                                    <!--<input type="text" name="table_search" class="form-control pull-right"-->
                                           <!--placeholder="Search">-->
                                    <!--<div class="input-group-btn">-->
                                        <!--<button type="submit" class="btn btn-default"><i class="fa fa-search"></i>-->
                                        <!--</button>-->
                                    <!--</div>-->

                                    <!--<select class="form-control select2" placeholder="Filter" style="width: 100%;">-->
                                        <!--<option selected="selected">Title</option>-->
                                        <!--<option>Author</option>-->
                                        <!--<option>Publisher</option>-->
                                        <!--<option>Year</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->

                        </div>
                        <!-- /.box-header -->

                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tr>
                                    <th>Location</th>
                                    <th style="width: 200px">Material Title</th>
                                    <th style="width: 200px">Author/s</th>
                                    <th style="width: 200px">Publisher</th>
                                    <th>Year</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                                <tr th:each="material : ${materialList}">
                                    <td th:id = "${material.id}+'id'" th:text="${material.id}">183</td>
                                    <td th:id="${material.id}+'title'" th:text="${material.title}">Introduction to Algorithims</td>
                                    <td th:id="${material.id}+'author'" th:text="${material.author}">Neil Patrick Del Gallego</td>
                                    <td th:id="${material.id}+'publisher'" th:text="${material.publisher}">Nanay Mo</td>
                                    <td th:id="${material.id}+'year'" th:text="${material.year}">2015</td>
                                    <td th:if = "${material.category == 1}" th:value="${material.category}" th:id="${material.id}+'category'">Book</td>
                                    <td th:if = "${material.category == 2}" th:value="${material.category}" th:id="${material.id}+'category'" >Magazine</td>
                                    <td th:if = "${material.category == 3}" th:value="${material.category}" th:id="${material.id}+'category'" >Thesis</td>
                                    <td th:if ="${material.borrowStatus == null || material.borrowStatus.dateReturned != null}"><span class="label label-success">In Shelf</span></td>
                                    <td th:if ="${material.borrowStatus != null && material.borrowStatus.released == false}"><span class="label label-warning">Pending</span></td>
                                    <td th:if ="${material.borrowStatus != null && material.borrowStatus.released == true}"><span class="label label-danger">Borrowed</span></td>
                                    <td>
                                        <div class="btn-group pull-right">
                                            <button type="button" th:id="${material.id}"
                                                    class="editMaterial btn btn-default" data-toggle="modal"
                                                    data-target="#modal-edit">
                                                <i class="fa fa-edit"> Edit</i>
                                            </button>
                                            <button type="button" th:if ="${material.borrowStatus == null}" th:value="${material.id}"  class="borrow btn btn-default disabled">
                                            <i class="fa fa-home"> Borrow</i>
                                            </button>
                                            <button type="button" th:if ="${material.borrowStatus != null&&material.borrowStatus.released==false}" th:value="${material.id}" data-toggle="modal" data-target="#modal-borrow" class="borrow btn btn-default class="borrow btn btn-default">
                                                <i class="fa fa-home"> Borrow</i>
                                            </button>
                                            <button type="button" th:if ="${material.borrowStatus != null && material.borrowStatus.released==true}" th:value="${material.id}" data-toggle="modal" data-target="#modal-return" class="return btn btn-default">
                                            <i class="fa fa-home"> Return</i>
                                            </button>
                                            <button type="button" th:value="${material.id}"
                                                    th:class="${'deleteMaterial btn btn-default ' + (material.borrowStatus != null && material.borrowStatus.released ? 'disabled' : '')}"
                                                    data-toggle="modal"
                                                    data-target="#modal-delete">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-add">
                                <i class="fa fa-plus"> Add Material</i>
                            </button>
                        </div>
                        <form th:action="@{~/manage/material/download}">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-info pull-right">
                                <i class="fa fa-download"> Export Materials</i>
                            </button>
                        </div>
                        </form>
                    </div>


                </div>
                <div class="modal fade" id="modal-return">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Return Material</h4>
                            </div>
                            <div class="modal-body">
                                <div class="box box-primary">

                                    <!-- /.box-header -->
                                    <!-- form start -->
                                    <!-- modal return start -->
                                    <form role="form" th:object="${retMaterial}" th:action="@{~/manage/material/return}"
                                          method="post">
                                        <h5>Are you sure you want to Return this material?</h5>
                                        <div class="box-body">
                                            <div class="form-group">
                                                <input type="hidden" th:field = "*{id}" class="form-control" id="returnID" placeholder="Location">
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-success">Return</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <div class="modal fade" id="modal-borrow">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Borrow Material</h4>
                            </div>
                            <div class="modal-body">
                                <div class="box box-primary">

                                    <!-- /.box-header -->
                                    <!-- form start -->
                                    <!-- modal return start -->
                                    <form role="form" th:object="${borMaterial}" th:action="@{~/manage/material/borrow}" method="post">
                                        <h5>Are you sure you want to Checkout this material?</h5>
                                        <div class="box-body">
                                            <div class="form-group">
                                                <input type="hidden" th:field = "*{id}" class="form-control" id="borrowID" placeholder="Location">
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-success">Borrow</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>

                <!-- .modal for delete -->
                <div class="modal fade" id="modal-delete">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Delete Material</h4>
                            </div>
                            <div class="modal-body">
                                <div class="box box-primary">

                            <!-- form start -->
                            <form id="dlgDelete" th:action="@{~/manage/material/delete}" method="post">
                                <div class="modal-body">
                                    <h5>Are you sure you want to delete this material?</h5>
                                    <input type="hidden" id="dlgDelete_lblMaterialId" name="materialId">
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </div>
                            </form>

                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- .modal -->
                <div class="modal fade" id="modal-edit">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Edit Material</h4>
                            </div>
                            <div class="modal-body">
                                <div class="box box-primary">

                                    <!-- /.box-header -->
                                    <!-- form start -->
                                    <form role="form" th:object="${upMaterial}" th:action="@{~/manage/material/update}"
                                          method="post">
                                        <div class="box-body">
                                            <input type="hidden" th:field="*{oldId}" />
                                            <div class="form-group">
                                                <label for="location1">Location</label>
                                                <input type="text" th:field="*{id}" class="form-control" id="location1"
                                                       placeholder="Location">
                                            </div>
                                            <div class="form-group">
                                                <label for="title2">Title</label>
                                                <input type="text" th:field="*{title}" class="form-control" id="title1"
                                                       placeholder="Title">
                                            </div>
                                            <div class="form-group">
                                                <label for="auth2">Author/s</label>
                                                <input type="text" th:field="*{author}" class="form-control" id="auth1"
                                                       placeholder="Author">
                                            </div>
                                            <div class="form-group">
                                                <label for="pub2">Publisher</label>
                                                <input type="text" th:field="*{publisher}" class="form-control"
                                                       id="pub1"
                                                       placeholder="Publisher">
                                            </div>
                                            <div class="form-group">
                                                <label for="year2">Year</label>
                                                <input type="number" th:field="*{year}" class="form-control" id="year1"
                                                       placeholder="Year">
                                            </div>
                                            <div class="form-group">
                                                <label>Type of Material</label>
                                                <select id="editSelect" name="materialType" class="form-control select2"
                                                        placeholder="Filter"
                                                        style="width: 100%;">
                                                    <option th:each="materialType : ${T(library.domain.helper.Category).values()}"
                                                            th:value="${materialType.ordinal() + 1}"
                                                            th:text="${materialType}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default pull-left"
                                                    data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-success">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- Modal for the add button -->
                <div class="modal fade" id="modal-add">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Add Material</h4>
                            </div>
                            <div class="modal-body">
                                <div class="box box-primary">

                                    <!-- /.box-header -->
                                    <!-- form start -->
                                    <form role="form" th:object="${savMaterial}" th:action="@{~/manage/material/save}"
                                          method="post">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label for="location2">Location</label>
                                                <input type="text" th:field="*{id}" class="form-control" id="location2"
                                                       placeholder="Location">
                                            </div>
                                            <div class="form-group">
                                                <label for="title2">Title</label>
                                                <input type="text" th:field="*{title}" class="form-control" id="title2"
                                                       placeholder="Title">
                                            </div>
                                            <div class="form-group">
                                                <label for="auth2">Author/s</label>
                                                <input type="text" th:field="*{author}" class="form-control" id="auth2"
                                                       placeholder="Author">
                                            </div>
                                            <div class="form-group">
                                                <label for="pub2">Publisher</label>
                                                <input type="text" th:field="*{publisher}" class="form-control"
                                                       id="pub2"
                                                       placeholder="Publisher">
                                            </div>
                                            <div class="form-group">
                                                <label for="year2">Year</label>
                                                <input type="number" th:field="*{year}" class="form-control" id="year2"
                                                       placeholder="Year">
                                            </div>
                                            <div class="form-group">
                                                <label>Type of Material</label>
                                                <select name="materialType" class="form-control select2"
                                                        placeholder="Filter"
                                                        style="width: 100%;">
                                                    <option th:each="materialType : ${T(library.domain.helper.Category).values()}"
                                                            th:value="${materialType.ordinal() + 1}"
                                                            th:text="${materialType}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default pull-left"
                                                    data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-success">Done</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal end-->
                <!-- Left col -->
                <section class="col-lg-7 connectedSortable">
                    <!-- Custom tabs (Charts with tabs)-->

                    <!-- /.nav-tabs-custom -->

                    <!-- Chat box -->

                    <!-- /.box (chat box) -->

                    <!-- TO DO List -->

                    <!-- /.box -->

                    <!-- quick email widget -->


                </section>
                <!-- /.Left col -->
                <!-- right col (We are only adding the ID to make the widgets sortable)-->
                <section class="col-lg-5 connectedSortable">

                    <!-- Map box -->

                    <!-- /.box -->

                    <!-- solid sales graph -->

                    <!-- /.box -->

                    <!-- Calendar -->

                    <!-- /.box -->

                </section>
                <!-- right col -->
            </div>
            <!-- /.row (main row) -->

        </section>
        <!-- /.content -->
    </div>
    <!--/*/ <th:block th:include="fragments/admin/template :: footer"></th:block> /*/-->
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<!--/*/ <th:block th:include="fragments/admin/template :: script"></th:block> /*/-->
<script>
    $(document).ready(function () {
        $(".editMaterial").click(function () {
            var id = this.id;
            var materialId = $("#" + id + "id").text().trim();
            var materialTitle = $("#" + id + "title").text().trim();
            var materialAuthor = $("#" + id + "author").text().trim();
            var materialPublisher = $("#" + id + "publisher").text().trim();
            var materialYear = $("#" + id + "year").text().trim();
            var materialCategory = $("#" + id + "category").text().trim();
            var materialCategoryID = materialCategory == 'Book' ? 1 :
                materialCategory == 'Magazine' ? 2 :
                    materialCategory == 'Thesis' ? 3 : 1;

            console.log('materialCategoryID = ' + materialCategoryID);

            $("#oldId").val(materialId);
            $("#location1").val(materialId);
            $("#title1").val(materialTitle);
            $("#auth1").val(materialAuthor);
            $("#pub1").val(materialPublisher);
            $("#year1").val(materialYear);
            $("#editSelect").val(materialCategoryID);


        });
        $(".deleteMaterial").click(function () {
            var id = $(this).val();

            $("#dlgDelete_lblMaterialId").val(id);
        });

        $(".return").click(function () {
            var id = $(this).val();
            var materialTitle = $("#" + id + "title").text();
            var materialAuthor = $("#" + id + "author").text();
            var materialPublisher = $("#" + id + "publisher").text();
            var materialYear = $("#" + id + "year").text();
            var materialCategory = $("#" + id + "category").text();
            var materialCategoryID;
            switch (materialCategory) {
                case "Book" :
                    materialCategoryID = 1;
                    break;
                case "Magazine" :
                    materialCategoryID = 2;
                    break;
                case "Thesis" :
                    materialCategoryID = 3;
                    break;
            }
            $("#returnID").val(id);
            $("#returnTitle").val(materialTitle);
            $("#returnAuthor").val(materialAuthor);
            $("#returnPublisher").val(materialPublisher);
            $("#returnYear").val(materialYear);
            $("#returnCategory").val(materialCategoryID);
            console.log("inside the return button function");
        });

        $(".borrow").click(function () {
            var id = $(this).val();
            var materialTitle = $("#" + id + "title").text();
            var materialAuthor = $("#" + id + "author").text();
            var materialPublisher = $("#" + id + "publisher").text();
            var materialYear = $("#" + id + "year").text();
            var materialCategory = $("#" + id + "category").text();
            var materialCategoryID;
            switch (materialCategory) {
                case "Book" :
                    materialCategoryID = 1;
                    break;
                case "Magazine" :
                    materialCategoryID = 2;
                    break;
                case "Thesis" :
                    materialCategoryID = 3;
                    break;
            }
            $("#borrowID").val(id);

            console.log("inside the return button function");
        });

    });
</script>
</body>
</html>
