<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div class = "col-md-8 row-centered">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Room Reservation</h3>
                <!-- /.box-header -->
                <div class="table-responsive">
                    <table class="table table-bordered" id="rsvTable">
                        <tbody>
                        <tr>
                            <th>Room</th>
                            <th>07:00 AM</th>
                            <th>07:30 AM</th>
                            <th>08:00 AM</th>
                            <th>08:00 AM</th>
                            <th>09:00 AM</th>
                            <th>09:00 AM</th>
                            <th>10:00 AM</th>
                            <th>10:30 AM</th>
                            <th>11:00 AM</th>
                            <th>11:30 AM</th>
                            <th>12:00 PM</th>
                            <th>12:30 PM</th>
                            <th>01:00 PM</th>
                            <th>01:30 PM</th>
                            <th>02:00 PM</th>
                            <th>02:30 PM</th>
                            <th>03:00 PM</th>
                            <th>03:30 PM</th>
                            <th>04:00 PM</th>
                            <th>04:30 PM</th>
                            <th>05:00 PM</th>
                            <th>05:30 PM</th>
                            <th>06:00 PM</th>
                            <th>06:30 PM</th>
                            <th>07:00 PM</th>
                            <th>07:30 PM</th>
                            <th>08:00 PM</th>
                            <th>08:30 PM</th>
                            <th>09:00 PM</th>
                        </tr>
                        <tr>
                            <td>Hotdog</td>
                            <td class="lc_rm_a"></td>
                            <td class="lc_rm_a"></td>
                            <td class="lc_rm_a"></td>
                            <td class="lc_rm_a"></td>
                            <td class="lc_rm_a"></td>
                            <td class="lc_rm_a"></td>
                            <td class="lc_rm_a"></td>
                            <td class="lc_rm_a"></td>
                            <td class="lc_rm_a"></td>
                            <td class="lc_rm_a"></td>
                            <td class="lc_rm_a"></td>
                            <td class="lc_rm_a"></td>
                            <td class="lc_rm_b"></td>
                            <td class="lc_rm_a"></td>
                            <td class="lc_rm_a"></td>
                            <td class="lc_rm_b"></td>
                            <td class="lc_rm_b"></td>
                            <td class="lc_rm_a"></td>
                            <td class="lc_rm_a"></td>
                            <td class="lc_rm_a"></td>
                            <td class="lc_rm_a"></td>
                            <td class="lc_rm_a"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <h1 th:text="${message}"></h1>
    <h3 th:text="${parameter}"></h3>
</div>
</body>
</html>