<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SHS DLSU Library | Not Found</title>

    <!--/*/ <th:block th:include="fragments/template :: head"></th:block> /*/-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" class="skin-blue layout-top-nav"
      style="height: auto; min-height: 100%;">
<!--/*/ <th:block th:include="fragments/template :: navigation"></th:block> /*/-->

<div class="container">
    <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>

        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>

            <p>
                We could not find the page you were looking for.
                Meanwhile, you may <a href="../src/homepage.html">return to landing page</a>
            </p>

        </div>
        <!-- /.error-content -->
    </div>
</div>


<!-- Footer -->
<!--/*/ <th:block th:include="fragments/template :: head"></th:footer> /*/-->

<!--/*/ <th:block th:include="fragments/template :: script"></th:block> /*/-->
</body>
</html>