<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SHS DLSU Library | Log in</title>

    <!--/*/ <th:block th:include="fragments/template :: head"></th:block> /*/-->

    <!-- iCheck -->
    <link rel="stylesheet" th:href="@{~/plugins/iCheck/square/blue.css}">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a th:href="@{~/}"><b>DLSU SHS</b> Online Library</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Change Password</p>

        <form action="/changepass" method="post" th:object="${changePass}">
            <div class="form-group has-feedback">
                <input type="password" name="origPassword" class="form-control" placeholder="Original Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" name="password" class="form-control" placeholder="New Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" name="passwordRepeat" class="form-control" placeholder="Retype new password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

            <!-- /.col -->
            <div class="row">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Submit</button>
                </div>
            </div>
            <!-- /.col -->

        </form>
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->


<!--/*/ <th:block th:include="fragments/template :: script"></th:block> /*/-->

<!-- iCheck -->
<script>

</script>
</body>
</html>
