<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SHS DLSU Library | Home</title>
    <!--/*/ <th:block th:include="fragments/template :: head"></th:block> /*/-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" class="skin-green layout-top-nav"
      style="height: auto; min-height: 100%;">
<!--/*/ <th:block th:include="fragments/template :: navigation"></th:block> /*/-->

<div class="container homepage content">
    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Read something. <span class="text-muted">Expand your knowledge.</span></h2>
            <p class="lead"> Doobi doobi dapp dapp Doobi doobi dapp dapp Doobi doobi dapp dapp Doobi doobi dipp dipp
                Doobi doobi dapp dapp Du dapp da dapp Bee-beep beep beep beep beep beep beep beep</p>
            <div class="center-div">
                <br><br><br>
                <form>
                    <button class="btn btn-primary" formaction="../src/material_view.html">Browse Catalog</button>
                </form>
            </div>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500"
                 src="../images/jabeePlaceHolder.png" data-holder-rendered="true">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading"> Collaborative Learning. <span
                    class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Oh, tú, tú eres el imán y yo soy el metal Me voy acercando y voy armando el planSólo con
                pensarlo se acelera el pulso Oh, yeah Ya, ya me está gustando más de lo normal Todos mis sentidos van
                pidiendo másEsto hay que tomarlo sin ningún apuro</p>
            <div class="center-div">
                <br><br><br>
                <form>
                    <button class="btn btn-primary" formaction="roomreserve.html">Reserve a Room</button>
                </form>
            </div>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500"
                 src="../images/jabeePlaceHolder.png" data-holder-rendered="true">
        </div>
    </div>
    <hr class="featurette-divider">
</div>

<!-- Footer -->
<!--/*/ <th:block th:include="fragments/template :: footer"></th:block> /*/-->

<!--/*/ <th:block th:include="fragments/template :: script"></th:block> /*/-->
</body>
</html>