.user-block .description
{
    display: inline;
    margin-left: 0px;
}

.main-header #navbar-search-filter.form-control
{
    background: rgba(255,255,255,0.2);
    border-color: transparent;
}

div.alert.alert-danger.alert-dismissible > ul
{
    -webkit-padding-start: 0px;
    list-style: none;
}

.navbar-nav>.user-menu>.dropdown-menu
{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    width: 180px;
    min-width: 180px;
    padding: 5px 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.lc_rm_b {
    background-color: #7EABCD;
    padding: 0px;
    margin: 0px;
    background-image: url('//lcimages.s3.amazonaws.com/room-hour-cell.gif');
}
.lc_rm_a {
    background-color: #22b14c;
    padding: 0px;
    margin: 10px;
    background-image: url('//lcimages.s3.amazonaws.com/room-hour-cell.gif');
    cursor: pointer;
}
.lc_rm_u {
    background-color: #27ff63;
    padding: 0px;
    margin: 10px;
    background-image: url('//lcimages.s3.amazonaws.com/room-hour-cell.gif');
    cursor: pointer;
}

.lc_rm_t {
    background-color: #F5B93C;
    padding: 0px;
    margin: 0px;
    background-image: url('//lcimages.s3.amazonaws.com/room-hour-cell.gif');
    cursor: pointer;
}
#rsvTable > thead > tr > th:nth-child(1)
{
    min-width: 150px;
}

#rsvTable > thead > tr > th
{
    min-width: 60px;
    text-align: center;
    vertical-align: middle;
}


.table>tbody>tr>td
{
    vertical-align: middle;
}

.error-page
{
    margin: 100px auto 0 auto;
}

.box
{
    padding-bottom: 15px;
}